.App {
  text-align: center;
}

.grid__body {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "header header"
  "navbar main";
}
.grid__main {
  background-color: rgb(47, 224, 255);
  grid-area: main;
 }
 
 